input[type="text"] {

     height: 30px;

}
input[type='Submit'] {
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 0 3px blue;
    border: 1px solid red;
}
input[type='Submit']:focus{
    background-color: brown;
}
input[type='Submit']:hover{
    background-color: brown;
}
input[type="checkbox"] {
    width : 15px;
    height : 15px;
}
#tt{
    width: 300px;
    height: 30px; 
    border-radius: 5px;
    border: 1px solid blue;
    padding-left: 20px;
}
#quanhuyen{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid blue;
    padding-left: 20px;
}
form{
    background-color: beige;
    padding: 10px;
}
input[type="reset"]{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
}
input[type="reset"]:hover{
    border: 1px solid red;
    background-color:blue;
    color: white;

}
input[type="text"]{
    padding: 5px;
    border: 1px solid royalblue;
    border-radius: 5px;
}
input[type="text"]:hover{
    border: 1px solid red; 
    background-color: seashell;
}
input[type="text"]:focus{
    border: 2px solid red;
   
}
textarea{
    border-radius: 10px;
    padding: 10px;
}
textarea:hover{
    background-color: greenyellow;
    border: 1px solid red;
}


